* {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 18vh;
  display: flex;
  background-color: rgb(134, 69, 23);
  position: relative;
  align-items: center;
}

.links a {
font-size: 5rem;
margin: 0 0 0 17rem;
color: white;
text-decoration: none;
}

.logo img {
  border-radius: 50%;
  border: .5rem solid rgb(134, 69, 23);
  position: absolute;
  right: 15rem;
  top: 8rem;
}



.linha {
  border-bottom: 1rem solid rgb(134, 69, 23);
  width: 99.5vw;

}

.separacao h1 {
 background-color: white;
 position: absolute;
 top: 7rem;
 left: 15rem;
 padding: 2rem;
}

.separacao {
  padding: 10rem 0;
  position: relative;
}



.imagem-container {
    position: relative;
    
  }
  
  .imagem-container img {
    width: 30rem; 
    height: 41.3rem;
    transition: transform .8s ease; 
    border: 1rem solid black;
    border-radius: 1rem;
  }
  
  .informacoes {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 20.5rem;
    height: 41.3rem;
    border-top: .5rem solid black;
    color: black;
    text-align: center;
    padding: 2rem;
    background-color: rgba(134,69,23, .8) ;
    border-radius: 1rem;
  }
  
  .imagem-container:hover img {
    transform: translateX(14rem);
  }
  
  .imagem-container:hover .informacoes {
    display: block;
  }

  .imagem-container1 {
    position: relative;
  }
  
  .imagem-container1 img {
    width: 30rem; 
    transition: transform .8s ease; 
    border: 1rem solid black;
    border-radius: 1rem;
  }
  
  .informacoes1 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 20.5rem;
    height: 20rem;
    border-top: .5rem solid black;
    color: black;
    text-align: center;
    padding: 2rem;
    background-color: rgba(134,69,23, .8) ;
    border-radius: 1rem;
  }
  
  .imagem-container1:hover img {
    transform: translateX(14rem);
  }
  
  .imagem-container1:hover .informacoes1 {
    display: block;
  }

  .informacoes a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    background-color: black;
    border: 1rem solid black;
    border-radius: 15rem;
    display: flex;
    align-items: end;
    justify-content: center;
  }

  .informacoes1 a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    background-color: black;
    border: .1rem solid black;
    border-radius: 15rem;
    display: flex;
    align-items: end;
    justify-content: center;
  }

p {
  font-size: 1.6rem;
}

.redes-sociais {
  width: 100%;
  background-color: rgb(134, 69, 23);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
}

.redes-sociais i {
  font-size: 3.5rem;
  padding-right: 2rem;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: white;
}

.imagem-container2:hover img {
  transform: translateX(14rem);
}

.imagem-container2:hover .informacoes1 {
  display: block;
}

.imagem-container2 {
  position: relative;
}

.imagem-container2 img {
  width: 30rem; 
  transition: transform .8s ease; 
  border: 1rem solid black;
  border-radius: 1rem;
}